<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create User</a>
    </div>
    <%= userEdit.id %>
    <div class="form-add-new">
      <form action="/delete-user" method="POST">
        <fieldset>
          <legend class="label" style="margin-left: 10px">Delete a user</legend>
          <div class="user-id">
            <label>Id:</label>
            <input type="text" name="id" value="<%= userEdit.id %>" />
          </div>
          <div class="input-group">
            <label>Do you want to delete the user with email:</label>
            <input type="text" name="email" value="<%= userEdit.email %>" />
          </div>
          <div>
            <button>Confirm</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
